image: atlassian/default-image:4

pipelines:
  branches:
    '**':
      - step:
          name: Upload to Ubuntu server
          script:
            - apt-get update && apt-get install -y openssh-client rsync
            - rsync -avz --delete -e "ssh -o StrictHostKeyChecking=no" ./ root@49.12.34.28:/var/www/new
