image: atlassian/default-image:4

pipelines:
  branches:
    '**':
      - step:
          name: Deploy to Ubuntu
          script:
            - apt-get update && apt-get install -y openssh-client
            - ssh -o StrictHostKeyChecking=no root@49.12.34.28 "echo Connected successfully!"
