image: atlassian/default-image:4

pipelines:
  branches:
    main:
      - step:
          name: Deploy to Ubuntu
          script:
            - apt-get update && apt-get install -y rsync openssh-client
            - mkdir -p ~/.ssh
            - chmod 700 ~/.ssh
            - ssh-keyscan -H 149.102.137.255 >> ~/.ssh/known_hosts
            - rsync -avz --delete ./ 149.102.137.255@root:/var/www/new
